@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OverpassRegular";
  src: url("./assets/fonts/Overpass-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OverpassBold";
  src: url("./assets/fonts/Overpass-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OverpassSemiBold";
  src: url("./assets/fonts/Overpass-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OverpassMedium";
  src: url("./assets/fonts/Overpass-Medium.ttf") format("truetype");
}

:where(.css-dev-only-do-not-override-pr0fja).ant-input-affix-wrapper {
  background-color: #272C5380 !important;
  border-color: #444A81 !important;
  border-width: 2px !important;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-input-affix-wrapper-focused {
  border-color: #8655D1 !important;
  border-width: 2px !important;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-input {
  background-color: #272C5380 !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  color: white !important;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-input-affix-wrapper .anticon.ant-input-password-icon {
  color: rgb(255 255 255) !important;
}

:where(.css-pr0fja).ant-input-affix-wrapper {
  background-color: #272C5380 !important;
  border-color: #444A81 !important;
  border-width: 2px !important;
}

:where(.css-pr0fja).ant-input-affix-wrapper-focused {
  border-color: #8655D1 !important;
  border-width: 2px !important;
}

:where(.css-pr0fja).ant-input {
  background-color: #272C5380 !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  color: white !important;
}

:where(.css-pr0fja).ant-input-affix-wrapper .anticon.ant-input-password-icon {
  color: rgb(255 255 255) !important;
}

.bgImage {
  background-image: url("./assets/images/bglogin.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgBlur {
  background: rgba(39, 44, 83, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
